<?xml version="1.0" encoding="utf-8" ?>
<plugin id="cordova-sim-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SimPlugin</name>
    <js-module name="SimPlugin" src="www/cordova-sim-plugin.js">
        <merges target="cordova.plugins.SimPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SimPlugin">
                <param name="android-package" value="com.valley.sim.SimPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SimPlugin.java" target-dir="src/com/valley/sim/SimPlugin" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
        </config-file>
        <js-module src="www/android/cordova-sim-plugin.js" name="SimAndroid">
            <merges target="cordova.plugins.SimPlugin" />
        </js-module>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SimPlugin">
                <param name="ios-package" value="SimPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/SimPlugin.h" />
        <source-file src="src/ios/SimPlugin.m" />
        <framework src="CoreTelephony.framework" />
    </platform>
</plugin>